$fade-color: #4b4a44;

$types: (
	heal: #cae9ca,
	damage: #d46e61,
);

.form-token-health {
	.token-images {
		flex-direction: row;
		min-height: 110px;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		height: 140px;
		width: 380px;

		img {
			border-width: 0px;
			max-height: 92px;
			opacity: 1;
		}
	}

	.form-footer {
		button {
			&:hover {
				box-shadow: none;
			}

			@each $type, $color in $types {
				&.#{$type} {
					// background-color: $color;
					border-color: darken($color, 20%);
					border-style: solid;
					transition: background-color 0.2s ease;

					&:hover {
						background-color: darken($color, 10%);
					}
				}
			}
		}
	}

	.form-group {
		label {
			margin: 5px;
		}
	}

	small {
		color: $fade-color;
	}
}
